<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ERROR</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div style="margin-top: 80px"></div>
<div class="jumbotron" style="background-color: #CC181E"><h1 class="text-center" style="color: #fff;">ERROR PAGE</h1></div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>