<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Serija</title>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <script src="../static/bootstrap.js" th:src="@{/bootstrap.js}"></script>
    <script>

        var serijaApp = angular.module("serijaApp", ['ngResource']);

        serijaApp.controller("SerijaController", ['$scope', '$resource',
            function ($scope, $resource) {
                var Serije = $resource('/serije');
                var ListaZanrova = $resource('/zanrovi');

                $scope.deleteSerija = function (id) {
                    var SerijaDelete = $resource('/serija/delete/' + id);
                    SerijaDelete.delete(function (response) {
                        $scope.message = response.message;
                        location.reload();
                    });
                }

                $scope.editSerija = function (serija) {
                    var dataObject4Edit = {
                        naziv: serija.naziv,
                        godina: serija.godina,
                        ocena: serija.ocena,
                        trajanje: serija.trajanje,
                        imdbLink: serija.imdbLink,
                        brojEpizoda: serija.brojEpizoda,
                        zanr: {
                            id: serija.zanr.id,
                            naziv: serija.zanr.naziv
                        }
                    };

                    return $resource('/serija/edit', null,
                        {
                            'update': {method: 'PUT'}
                        }).update(dataObject4Edit, serija);
                }


                $scope.newSerija = function () {
                    var SerijaSave = $resource('/serija/create');
                    var dataObject = {
                        naziv: $scope.serijaNovi.nazivNovi,
                        godina: $scope.serijaNovi.godinaNovi,
                        ocena: $scope.serijaNovi.ocenaNovi,
                        trajanje: $scope.serijaNovi.trajanjeNovi,
                        imdbLink: $scope.serijaNovi.imdblinkNovi,
                        brojEpizoda: $scope.serijaNovi.broj_epizodaNovi
                    };


                    SerijaSave.save(dataObject, function (response) {
                        $scope.message = response.message;
                        location.reload();
                    })

                }


                Serije.query(function (serije) {
                    $scope.serije = serije;
                });


                ListaZanrova.query(function (zanrSerija) {
                    $scope.zanrSerija = zanrSerija;
                });

                $scope.go = function (path) {
                    $location.path(path);
                };

            }]);
    </script>

</head>
<body ng-app="serijaApp" class="ng-cloak">
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="jumbotron" style="margin-top: 80px; background-color: #2e6da4"><h1 style="color: #ffffff">Lista
        Serija</h1></div>
</div>
<div class="container" ng-controller="SerijaController">
    <table class="table table-bordered">
        <thead>
        <th>Naziv</th>
        <th>Godina</th>
        <th>Zanr</th>
        <th>Ocena</th>
        <th>Trajanje</th>
        <th>Broj Epizoda</th>
        <th>Add/Edit Zanr</th>
        <th>Edit Film</th>
        <th>Delete</th>
        </thead>

        <tbody ng-repeat="serija in serije">
        <td>{{serija.naziv}}</td>
        <td>{{serija.godina}}</td>
        <td>{{serija.zanr.naziv}}</td>
        <td>{{serija.ocena}}</td>
        <td>{{serija.trajanje}}</td>
        <td>{{serija.brojEpizoda}}</td>
        <td>
            <button class="btn btn-primary" ng-hide="editingZanr" ng-click="editingZanr = true">Add/Edit Zanr</button>
            <form ng-show="editingZanr" ng-submit="editSerija(serija);editingZanr = false;">
                <div class="form-group">
                    <label>Zanr :</label>
                    <select class="form-control" ng-model="serija.zanr"
                            ng-options="zanr as zanr.naziv for zanr in zanrSerija"/>
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>

        </td>
        <td>
            <button class="btn btn-primary" ng-hide="editing" ng-click="editing = true">Edit Serija</button>
            <form ng-show="editing" ng-submit="editSerija(serija);editing = false;">
                <div class="form-group">
                    <label>Naziv:</label>
                    <input class="form-control" type="text" ng-model="serija.naziv" placeholder="Naziv"
                           ng-required="true"/>
                </div>
                <div class="form-group">
                    <label>Godina:</label>
                    <input class="form-control" type="text" ng-model="serija.godina" placeholder="Godina"
                           ng-required="true"/>
                </div>
                <div class="form-group">
                    <label>Ocena:</label>
                    <input class="form-control" type="text" ng-model="serija.ocena" placeholder="Ocena"
                           ng-required="true"/>
                </div>
                <div class="form-group">
                    <label>Trajanje :</label>
                    <input class="form-control" type="text" ng-model="serija.trajanje" placeholder="Trajanje"
                           ng-required="true"/>
                </div>
                <div class="form-group">
                    <label>Imdb:</label>
                    <input class="form-control" type="text" ng-model="serija.imdbLink" placeholder="Imdb"
                           ng-required="true"/>
                </div>

                <div class="form-group">
                    <label>Broj epizoda:</label>
                    <input class="form-control" type="text" ng-model="serija.brojEpizoda" placeholder="Broj Epizoda"
                           ng-required="true"/>
                </div>

                <div class="form-group">
                    <label>Zanr :</label>
                    <select class="form-control" ng-model="serija.zanr"
                            ng-options="zanr as zanr.naziv for zanr in zanrSerija"/>
                </div>
                <button class="btn btn-primary" type="submit">Save</button>

            </form>
        </td>

        <td>
            <button class="btn btn-danger" type="button" ng-click="deleteSerija(serija.id)">Delete</button>
        </td>
        </tbody>
    </table>


    <button class="btn btn-lg btn-primary" type="button" data-toggle="modal" data-target="#add">Add</button>


    <!-- Modal -->
    <div id="add" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Film</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="newSerija()">
                        <div class="form-group">
                            <label>Naziv:</label>
                            <input class="form-control" type="text" ng-model="serijaNovi.nazivNovi"
                                   placeholder="Naziv Serije"
                                   ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label>Godina:</label>
                            <input class="form-control" type="text" ng-model="serijaNovi.godinaNovi"
                                   placeholder="Godina"
                                   ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label>Ocena:</label>
                            <input class="form-control" type="text" ng-model="serijaNovi.ocenaNovi"
                                   placeholder="Ocena 1-10"
                                   ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label>Trajanje:</label>
                            <input class="form-control" type="text" ng-model="serijaNovi.trajanjeNovi"
                                   placeholder="Trajanje"
                                   ng-required="true"/>
                        </div>
                        <div class="form-group">
                            <label>IMDB link:</label>
                            <input class="form-control" type="text" ng-model="serijaNovi.imdblinkNovi"
                                   placeholder="IMDB link"
                                   ng-required="true"/>
                        </div>

                        <div class="form-group">
                            <label>Broj epizoda:</label>
                            <input class="form-control" type="text" ng-model="serijaNovi.broj_epizodaNovi"
                                   placeholder="Broj epizoda"
                                   ng-required="true"/>
                        </div>

                        <button class="btn btn-default" type="submit">Save</button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>


</body>
</html>